<a href="https://colab.research.google.com/github/JUG2019/maratonadev-la/blob/main/EXAMEN_PYTHON_B%C3%81SICO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><img src="https://media-exp1.licdn.com/dms/image/C4E22AQEbIXZiRVkJPQ/feedshare-shrink_2048_1536/0?e=1598486400&v=beta&t=DSWeH9gVxZecLFd10nv-rGomMSJEJP7D2pXl60V1-9A" width="1000"></center>

# EXAMEN PYTHON BÁSICO
### INDICACIONES GENERALES:

**Entrega:** hasta Las 11:59 p.m. del 03 de agosto. <br>
**Materiales para utilizar:** Está permitido el uso de apuntes. Debe usar Python para resolver los ejercicios planteados (incluir el código y programas usados para resolver las preguntas).<br>
**Formato:** el archivo notebook de Jupyter debe ser guardado con su apellido paterno y materno sin espacios.<br>
**Enviar:** al término de este examen el alumno deberá enviar la solución al correo python@socialdata-peru.com<br>
**Asunto:**  Examen_Python_Básico_ApellidoPaterno_ApellidoMaterno_Nombres<br>
**Puntaje:** Total: 20 puntos<br>

**Link de la data :** https://www.dropbox.com/s/tr8jf1dqlv4hsl8/TRAIN_FUGA.csv?dl=0

## CASO 1:
Teniendo en cuenta la base de datos TRAIN_FUGA.csv que corresponde a los datos de entrenamiento de una data que analiza la fuga de clientes de una entidad bancaria realizar las siguientes tareas:

1.	Análisis exploratorio de las variables: medidas y visualización. (5 puntos)
2.	Realizar un análisis exploratorio sobre presencia de outliers. (2 puntos)
3.	Realizar una discretización de las variables : INGRESO_BRUTO_M1 y EDAD teniendo en cuenta al menos dos técnicas de discretización no supervisada y agregar las variables discretizadas a nuestro conjunto de datos original (2 puntos)
4.	Aplicar dos técnicas de balanceo de datos a nuestra variable TARGET (objetivo) y agregarlas a nuestro conjunto de datos original. Use los parámetros vistos en clase. (3 puntos)

Nota: revisar el diccionario de variables del caso.

## Análisis exploratorio de las variables: medidas y visualización. (5 puntos)

carga de datos

In [2]:
import pandas as pd

In [8]:
from google.colab import files
files.upload()

Saving TRAIN_FUGA.csv to TRAIN_FUGA.csv

In [6]:
#fich="C:/Users/Usuario/Documents/python DC SDC/examen1/TRAIN_FUGA.csv"

In [10]:
df=pd.read_csv("TRAIN_FUGA.csv", sep=",")

In [11]:
df.head()

   Unnamed: 0  CODMES  ...  REC_AGENTE_TD  CTD_RECLAMOS_M1
0           1  201411  ...            NaN                0
1           2  201411  ...            NaN                0
2           3  201411  ...            NaN                0
3           4  201411  ...            NaN                0
4           5  201411  ...            NaN                0

[5 rows x 20 columns]

In [12]:
#porcentaje de valores null por columna
(df.isnull().sum() / len(df))*100

Unnamed: 0             0.000000
CODMES                 0.000000
TARGET_MODEL2          0.000000
EDAD                   0.000000
SEXO                   0.000000
DEPARTAMENTO           3.425419
INGRESO_BRUTO_M1      23.778437
FLG_CLIENTE            0.000000
SEGMENTO               0.000000
FLG_ADEL_SUELDO_M1     0.000000
FREC_AGENTE            0.000000
FLG_VEH_SF            34.207582
FLG_CONV_SF           34.207582
FREC_KIOSKO            0.000000
FREC_BPI_TD            0.000000
FREC_MON_TD            0.000000
PROM_CTD_TRX_6M        0.000000
ANT_CLIENTE            0.117207
REC_AGENTE_TD         88.280687
CTD_RECLAMOS_M1        0.000000
dtype: float64

In [20]:
from sklearn.base import BaseEstimator, TransformerMixin
# All sklearn Transforms must have the `transform` and `fit` methods
class DropColumns(BaseEstimator, TransformerMixin):
    def __init__(self, columns):
        self.columns = columns

    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        # Primero copiamos el dataframe de datos de entrada 'X'
        data = X.copy()
        # Devolvemos un nuevo dataframe de datos sin las columnas no deseadas
        return data.drop(labels=self.columns, axis='columns')

In [21]:
# Creación de instancias de una transformación DropColumns
rm_columns = DropColumns(
    columns=["REC_AGENTE_TD", "Unnamed: 0"]  # Esta transformación toma como parámetro una lista con los nombres de las columnas no deseadas
)

print(rm_columns)

DropColumns(columns=['REC_AGENTE_TD', 'Unnamed: 0'])

In [23]:
# Aplicar la transformación ``DropColumns`` al conjunto de datos base
rm_columns.fit(X=df)

# Reconstruyendo un DataFrame de Pandas con el resultado de la transformación
df_2 = pd.DataFrame.from_records(
    data=rm_columns.transform(
        X=df
    ),
)

In [24]:
# Ver las columnas del conjunto de datos transformado
print("Columnas del conjunto de datos después de la transformación ``DropColumns``: \n")
print(df_2.columns)

Columnas del conjunto de datos después de la transformación ``DropColumns``:

Index(['CODMES', 'TARGET_MODEL2', 'EDAD', 'SEXO', 'DEPARTAMENTO',
       'INGRESO_BRUTO_M1', 'FLG_CLIENTE', 'SEGMENTO', 'FLG_ADEL_SUELDO_M1',
       'FREC_AGENTE', 'FLG_VEH_SF', 'FLG_CONV_SF', 'FREC_KIOSKO',
       'FREC_BPI_TD', 'FREC_MON_TD', 'PROM_CTD_TRX_6M', 'ANT_CLIENTE',
       'CTD_RECLAMOS_M1'],
      dtype='object')

In [14]:
df.dtypes

Unnamed: 0              int64
CODMES                  int64
TARGET_MODEL2           int64
EDAD                    int64
SEXO                   object
DEPARTAMENTO           object
INGRESO_BRUTO_M1      float64
FLG_CLIENTE            object
SEGMENTO               object
FLG_ADEL_SUELDO_M1      int64
FREC_AGENTE             int64
FLG_VEH_SF            float64
FLG_CONV_SF           float64
FREC_KIOSKO             int64
FREC_BPI_TD             int64
FREC_MON_TD             int64
PROM_CTD_TRX_6M       float64
ANT_CLIENTE           float64
REC_AGENTE_TD         float64
CTD_RECLAMOS_M1         int64
dtype: object

In [16]:
# Agrupando columnas por tipo de datos
tipos = df.columns.to_series().groupby(df.dtypes).groups
tipos

{int64: ['Unnamed: 0', 'CODMES', 'TARGET_MODEL2', 'EDAD', 'FLG_ADEL_SUELDO_M1', 'FREC_AGENTE', 'FREC_KIOSKO', 'FREC_BPI_TD', 'FREC_MON_TD', 'CTD_RECLAMOS_M1'], float64: ['INGRESO_BRUTO_M1', 'FLG_VEH_SF', 'FLG_CONV_SF', 'PROM_CTD_TRX_6M', 'ANT_CLIENTE', 'REC_AGENTE_TD'], object: ['SEXO', 'DEPARTAMENTO', 'FLG_CLIENTE', 'SEGMENTO']}

# CASO 2:
La presente aplicación captura datos socioeconómicos a nivel distrital para la realización de un ejemplo de reducción de dimensiones haciendo uso del análisis de componentes principales y factorial.
Las variables a reducir son: porcentaje de hogares sin medios de comunicación (porc_hogares_sin_medios), porcentaje de alfabetismo (alfabetismo), porcentaje de hogares con 2 o más necesidades básicas incubiertas (porc_2_nbi), índice de desarrollo humano (IDH) y el coeficiente de desigualdad de GINI (GINI).
1.	Realizar un análisis de componentes principales para reducción de la dimensionalidad (4 puntos)
2.	Realizar un análisis factorial para reducción de la dimensionalidad (4 puntos)